h1{
	text-align: center;
}
form {
  margin: 0 auto;
  width: 450px;

  padding: 1em;
  border: 1px solid #CCC;
  border-radius: 1em;
}

form div + div {
  margin-top: 1em;
}
input:invalid {
  border: 1px solid red;
}

input:valid {
  border: 1px solid green;
}
.button{
	text-align: center;
}
label {
  /* To make sure that all labels have the same size and are properly aligned */
  display: inline-block;
  width: 150px;
  text-align: right;
}